---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <h2 class="up-for-it">Think you are up for it?</h2>
  <h3 class="apply">Apply bellow:</h3>

  <form action="{{ page.formkeep_action }}" method="POST">
    <input type="hidden" name="utf8" value="✓">
    <label for="name">Name:</label>
    <input id="name" type="text" name="name" placeholder="Your Name">
    <label for="email">Email:</label>
    <input id="email" type="email" name="email" placeholder="Your Email">
    <label for="location">Location:</label>
    <input id="location" type="location" name="location" placeholder="Your current location">
    <label for="url">Website:</label>
    <input id="url" type="url" name="url" placeholder="Your Website">
    <label for="github">Github:</label>
    <input id="github" type="github" name="github" placeholder="Your Github username">
    <label for="linkedin">Linkedin/Xing</label>
    <input id="linkedin" type="linkedin" name="linkedin" placeholder="Your Likedin/Xing link">
    <input type="submit" value="Apply">
  </form>
</div>
